@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.content_animate {
display: none;
}
* {
box-sizing: border-box;
}
.bar_count {
background: #235952;
height: 5px;
position: fixed;
z-index: 500;
top: 0;
left: 0;
}
body {
background-color: #ECFBFC;
color: #1A1A1A;
font-size: 1rem;
font-family: "Open Sans", sans-serif;
margin: 0;
}
a {
color: inherit;
text-decoration: none;
}
img {
max-width: 100%;
height: auto;
display: block;
}
ul {
list-style: none;
padding: 0;
}
.flex-1 {
display: flex;
align-items: center;
height: inherit;
max-width: 900px;
justify-content: space-between;
margin: 0 auto;
padding: 0 12px;
}
.header {
background: #111;
color: #ECFBFC;
font-family: 'Poppins', sans-serif;
max-width: 100%;
z-index: 1000;
height: 50px;
}
.main_title {
font-weight: 500;
font-size: 22px;
}
.menu {
display: flex;
}
.slide_show {
background: url("../img_src/banner/1020.jpg") no-repeat center center;
background-size: cover;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
}
.slide_title {
font-family: "Oswald", cursive;
font-weight: 700;
font-size: 26px;
color: #ECFBFC;
}
.bottom_buttons {
position: absolute;
right: 12px;
bottom: 20px;
}
.flex-2 {
display: flex;
}
.content {
max-width: 600px;
}
.main {
max-width: 900px;
padding: 0 12px;
margin: 0 auto;
padding: 0 12px 0 12px;
}
.div_content {
display: flex;
justify-content: space-between;
margin-top: 41px;
}
.div_content:hover {
animation: some_space .8s forwards;
}
.second_info {
color: #393C3C;
}
.about_info_title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 20px;
color: #0B0B0B;
padding: 0 0 0 7px;
display: none;
}
.about_info_title::after {
content: '';
display: inline-block;
background: #235952;
width: 4px;
height: 24px;
margin-left: 15px;
vertical-align: middle;
}
.exeption_margin {
margin-top: 56px;
}
.bottom_img {
margin: 60px auto 0 auto;
}
.stages {
display: flex;
justify-content: space-between;
margin-top: 100px;
align-items: center;
}
.separator {
display: block;
background: url('../misc/separator.svg');
height: 5px;
width: 73px;
}
.footer {
background: #111;
color: #F2F2F2;
/* display: flex;
align-items: center;
justify-content: flex-start; */
margin-top: 200px;
font-family: "Montserrat", sans-serif;
height: auto;
}
.holder_foot {
max-width: 900px;
margin: 0 auto;
padding: 0 12px;
display: flex;
align-items: center;
justify-content: space-between;
/* justify-content: flex-start; */
}
.copy {
font-weight: 400;
/* margin: 0 auto; */
float: left;
}
.contact {
font-weight: 400;
color: #F1F1F1;
font-family: 'Montserrat', sans-serif;
/* display: inline-block; */
padding-right: 10px;
display: none;
}
.active_contact_button {
display: inline-block;
vertical-align: middle;
padding-top: 2px;
animation: showLink .45s forwards;
}
.active_contact_button:hover {
color: #FFF;
}
.start_up {
display: block;
animation: start_content 3s forwards;
}
.primary_animation {
animation: second_start 3s forwards;
display: block;
}
.icon_misc {
display: none;
}
.active_img {
display: block;
animation: active_img 1s forwards;
}
.knowledge {
padding-left: 0;
/* padding-bottom: 14px !important; */
/* display: flex !important;
flex-direction: column !important;
justify-content: space-between !important; */
font-family: "Open Sans", sans-serif;
font-weight: 400;
color: #393C3C;
}
.content_knowledge {
margin-top: 16px;
}
.percentage_divs {
padding-left: 14px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.percentage {
background: #235952;
height: 23px;
margin-top: 7px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}
.bar_animation {
animation: active_bar 5s ease-in-out;
}
.html {
max-width: 88% !important;
}
.css {
max-width: 80% !important;
}
.javascript {
max-width: 58% !important;
}
.node {
max-width: 23% !important;
}
.php {
max-width: 16% !important;
}
.mysql {
max-width: 22% !important;
}
.ui {
max-width: 44% !important;
}
.translate {
position: fixed;
background: #111;
bottom: 0;
opacity: 0.5;
height: 60px;
min-width: 100%;
display: none;
align-items: center;
justify-content: center;
}
.show_translate_bar {
display: flex;
animation: show_translate 3s forwards;
}
.press_key {
display: block;
color: #FEFEFE;
}
.technology {
text-align: center;
display: block;
font-weight: 400;
color: #393C3C;
padding-top: 30px;
}
.menu_footer {
display: flex;
align-items: center;
justify-content: space-between;
}
.menu_footer li {
margin-left: 16px;
}
.wa {
display: flex;
align-items: center;
justify-content: space-between;
}
.wa img {
max-width: 32px;
padding-left: 6px;
}
@media screen and (max-width: 500px) {
    .stages {
    flex-direction: column;
    }
    .technology {
    padding: 1rem 0 2rem 0;
    }
    .separator {
    display: none;
    }
    .wa span {
    display: none;
    }
}
@media screen and (max-width: 550px) {
    .email_contact {
    display: none;
    }
}
@media screen and (max-width: 768px) {
    .show_translate_bar {
    display: none;
    }
}
@keyframes some_space {
    from {
    padding-left: 0;
    }
    to {
    padding-left: 1rem;
    }
}
@keyframes show_translate {
    from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
    }
    to {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
    }
}
@keyframes active_bar {
    from {
    width: 0;
    }
    to {
    width: inherit;
    }
}
@keyframes active_img {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
@keyframes second_start {
    from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}
@keyframes start_content {
    from {
    opacity: 0;
    transform: translate3d(-128px, 0, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}
@keyframes showLink {
    from {
    opacity: 0;
    transform: translate3d(35px, 0, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}