@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.content_animate {
display: none;
}
* {
box-sizing: border-box;
}
.bar_count {
background: #141887;
height: 50px;
position: fixed;
z-index: 500;
top: 0;
left: 0;
}
body {
background-color: #F3F7EC;
color: #1A1A1A;
font-size: 1rem;
font-family: "Open Sans", sans-serif;
margin: 0;
}
a {
color: inherit;
text-decoration: none;
}
img {
max-width: 100%;
height: auto;
display: block;
}
.flex-1 {
display: flex;
align-items: center;
height: inherit;
max-width: 900px;
justify-content: space-between;
margin: 0 auto;
padding: 0 12px;
}
.header {
background: #111;
color: #F1F1F1;
font-family: 'Poppins', sans-serif;
max-width: 100%;
z-index: 1000;
height: 50px;
}
.sticky_header {
position: fixed;
top: 0px;
width: 100%;
opacity: 0.8;
}
.main_title {
font-weight: 500;
font-size: 22px;
}
.menu {
display: flex;
}
.slide_show {
background: url("../img_src/banner/1020.jpg") no-repeat center center;
background-size: cover;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
}
.slide_title {
font-family: "Oswald", cursive;
font-weight: 700;
font-size: 26px;
color: #FFF;
}
.bottom_buttons {
position: absolute;
right: 12px;
bottom: 20px;
}
.flex-2 {
display: flex;
}
.content {
max-width: 600px;
}
.main {
max-width: 900px;
padding: 0 12px;
margin: 0 auto;
padding: 0 12px 0 12px;
}
.div_content {
display: flex;
justify-content: space-between;
margin-top: 41px;
}
.div_content:hover {
animation: some_space .8s forwards;
}
.second_info {
color: #393C3C;
}
.about_info_title {
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 20px;
color: #0B0B0B;
padding: 0 0 0 7px;
display: none;
}
.about_info_title::after {
content: '';
display: inline-block;
background: #0B0B0B;
width: 4px;
height: 24px;
margin-left: 15px;
vertical-align: middle;
}
.exeption_margin {
margin-top: 56px;
}
.bottom_img {
margin: 60px auto 0 auto;
}
.stages {
display: flex;
justify-content: space-between;
margin-top: 100px;
align-items: center;
}
.separator {
display: block;
background: url('../misc/separator.svg');
height: 5px;
width: 73px;
}
.footer {
background: #111;
color: #F2F2F2;
/* display: flex;
align-items: center;
justify-content: flex-start; */
margin-top: 200px;
font-family: "Montserrat", sans-serif;
height: auto;
}
.holder_foot {
max-width: 900px;
margin: 0 auto;
padding: 0 12px;
display: flex;
align-items: center;
justify-content: flex-start;
}
.copy {
font-weight: 400;
/* margin: 0 auto; */
float: left;
}
.contact {
font-weight: 400;
color: #F1F1F1;
font-family: 'Montserrat', sans-serif;
/* display: inline-block; */
padding-right: 10px;
display: none;
}
.active_contact_button {
display: inline-block;
vertical-align: middle;
padding-top: 2px;
animation: showLink .45s forwards;
}
.active_contact_button:hover {
color: #FFF;
}
.start_up {
display: block;
animation: start_content 3s forwards;
}
.contact_section {
max-width: 500px;
margin: 0 auto;
}
.title_contact {
display: flex;
margin: 0 auto;
padding-bottom: 2rem;
justify-content: space-between;
padding-top: 62px;
align-items: center;
}
.contact_me {
font-weight: 400;
font-family: "Montserrat", sans-serif;
font-size: 20px;
line-height: 21px;
margin: 0;
color: #1A1A1A;
align-self: flex-end;
}
.form {
display: flex;
flex-direction: column;
max-width: 430px;
margin: 0 auto;
padding-top: 30px;
font-family: "Montserrat", sans-serif;
font-size: 17px;
padding: 0 12px;
}
label {
font-family: inherit;
padding: 17px 0 10px 0px;
}
input {
height: 46px;
padding: 6px 12px;
font-size: 16px;
color: #000;
font-family: Arial, sans-serif;
}
input[name="mensage"] {
height: 100px;
}
input:focus {
box-shadow: 0px 0px 2px #D4D4D4;
}
.primary_animation {
animation: second_start 3s forwards;
display: block;
}
.icon_misc {
display: none;
}
.active_img {
display: block;
animation: active_img 1s forwards;
}
.send_mensage {
border: 1px solid #878787;
border-radius: 3px;
padding: 12px 0;
background-color: #F6F6F6;
margin-top: 17px;
font-family: "Arial", sans-serif;
color: #1A1A1A;
cursor: pointer;
}
.knowledge {
padding-left: 0;
/* padding-bottom: 14px !important; */
margin: 0;
display: flex !important;
flex-direction: column !important;
justify-content: space-between !important;
font-family: "Open Sans", sans-serif;
font-weight: 400;
color: #393C3C;
}
.percentage_divs {
padding-left: 14px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.div_content_percentage {
display: flex;
/* padding-top: 41px;c   */
height: 219px;
}
.percentage {
background: #0B0B0B;
height: 21px;
}
.bar_animation {
animation: active_bar 5s ease-in-out;
}
._47 {
max-width: 90% !important;
}
._40 {
max-width: 80% !important;
}
._42 {
max-width: 60% !important;
}
._6 {
max-width: 26% !important;
}
._2 {
max-width: 12% !important;
}
._34 {
max-width: 34% !important;
}
.translate {
position: fixed;
background: #111;
bottom: 0;
opacity: 0.5;
height: 60px;
min-width: 100%;
display: none;
align-items: center;
justify-content: center;
}
.show_translate_bar {
display: flex;
animation: show_translate 5s forwards;
}
.press_key {
display: block;
color: #FEFEFE;
}
.technology {
text-align: center;
display: block;
font-weight: 400;
color: #393C3C;
padding-top: 30px;
}
@media screen and (max-width: 500px) {
    .stages {
    flex-direction: column;
    }
    .technology {
    padding: 1rem 0 2rem 0;
    }
    .separator {
    display: none;
    }
}
@keyframes some_space {
    from {
    padding-left: 0;
    }
    to {
    padding-left: 1rem;
    }
}
@keyframes show_translate {
    from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
    }
    to {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
    }
}
@keyframes active_bar {
    from {
    width: 0;
    }
    to {
    width: inherit;
    }
}
@keyframes active_img {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
@keyframes second_start {
    from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}
@keyframes start_content {
    from {
    opacity: 0;
    transform: translate3d(-128px, 0, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}
@keyframes showLink {
    from {
    opacity: 0;
    transform: translate3d(35px, 0, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}